<p id="notice"><%= notice %></p>

<h1>Listing Ratings</h1>

<table>
  <thead>
    <tr>
      <th>Play</th>
      <th>Up</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ratings.each do |rating| %>
      <tr>
        <td><%= rating.play %></td>
        <td><%= rating.up %></td>
        <td><%= link_to 'Show', rating %></td>
      </tr>
    <% end %>
  </tbody>
</table>

