<h1>Editing chooser</h1>

<%= render "form", chooser: @chooser %>

<br>

<div>
  <%= link_to "Show this chooser", [@chooser.stream, @chooser] %> |
  <%= link_to "Back to choosers", stream_choosers_path(@chooser.stream) %>
</div>
