<p style="color: green"><%= notice %></p>

<%= render @chooser %>

<div>
  <%= link_to "Edit this chooser", edit_stream_chooser_path(@chooser.stream, @chooser) %> |
  <%= link_to "Back to choosers", stream_choosers_path(@chooser.stream) %>
</div>
